/* Add mobile styles for the component here.  */
.report {
    background-color: #06CE6A;
    color: white;
    border-radius: 10dp;
    padding: 20dp 10dp;
}

.reportText {
    font-size: 20dp;
    text-align: center;
}

.reportPrediction {
    font-size: 25dp;
    font-weight: 400;
    text-align: center;
}
