<x:StatusBar ios:barStyle="light" barColor="#3A53FF" />
<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="onBackButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onBackButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Add Entry"></Label>
</ActionBar>
<Button text="edit-entry works!" class="btn btn-primary"></Button>
