<x:StatusBar ios:barStyle="light" barColor="#3A53FF" />
<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="onBackButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onBackButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Add Entry"></Label>
</ActionBar>
<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label text="Edit or Add" class="p-200 text-center h1 text-white"></Label>
        <Label text="{{ date | date:'EEEE , dd MMM yyyy'}}" class="p-0 text-center h2 text-white"></Label>
        <StackLayout class="input-field">
            <TextField class="input" hint="Description" autocorrect="true">
            </TextField>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField class="input" hint="Value" keyboardType="number">
            </TextField>
        </StackLayout>

        <Button text="Add Entry" class="btn btn-primary" [nsRouterLink]="['/home']" pageTransition="slide"
            clearHistory="true"></Button>
    </StackLayout>
</FlexboxLayout>
