<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Expense Reports"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout *ngFor="let month of monthlydata">
        <StackLayout class="entry">
            <Label text="{{month.month}}"></Label>
            <Label text="You spent Rs.{{getTotal(month)}} this month."></Label>
            <Label *ngIf="user" text="You utilized  {{(getTotal(month) / user.allowance) * 100}}% of your monthly allowance."></Label>
            
            <Label text="You spent Rs.{{month.foodandgroceries}} this month."></Label>
            <Label text="You spent Rs.{{month.transport}} this month."></Label>
            <Label text="You spent Rs.{{month.bills}} this month."></Label>
            <Label text="You spent Rs.{{month.healthcare}} this month."></Label>
            <Label text="You spent Rs.{{month.entertainment}} this month."></Label>
            <Label text="You spent Rs.{{month.misc}} this month."></Label>

        </StackLayout>
    </StackLayout>
</GridLayout>
