<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Expense Reports"></Label>
</ActionBar>
<AbsoluteView>
    <ScrollView class="page">
        <StackLayout class="container" *ngIf="selectedMonth else Loading">
            <StackLayout class="input-field">
                <DropDown #dd [(ngModel)]="selectedIndex" [items]="months"
                    (selectedIndexChanged)="onMonthChange($event)">
                </DropDown>
            </StackLayout>

            <StackLayout *ngIf="selectedMonth" class="report">
                <Label text="You spent Rs.{{getTotal(selectedMonth)}} this month." textWrap="true"></Label>
                <Label *ngIf="user"
                    text="You utilized  {{(getTotal(selectedMonth) / user.allowance) * 100}}% of your monthly allowance."
                    textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.foodandgroceries}} on Food and Groceries."
                    textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.transport}} on Travel and Transport." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.bills}} on Bills." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.healthcare}} on Healthcare." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.entertainment}} on Entertainment." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.misc}} on Miscellaneous." textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</AbsoluteView>

<ng-template #Loading>
    <ns-loading></ns-loading>
</ng-template>
