.report {
    background-color: white;
    padding: 10dp;
    min-height: 150dp;
    color: black;
    font-size: 20;
    border-radius: 5;
    margin: 10 0;
}

.page {
    background-color: #3A53FF;
    color: black;
    height: 100%;
    width: 100%;
}

.input-field {
    padding: 10dp;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5;
    height: 50dp;
    width: 100%;
    color: black;
}

.container {
    padding: 10;
}

.chart {
    background-color: white;
    margin: 10 0;
    border-radius: 5;
}
