<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Expense Reports"></Label>
</ActionBar>
<AbsoluteView>
    <ScrollView class="page">
        <StackLayout class="container" *ngIf="selectedMonth else Loading">
            <StackLayout class="input-field">
                <DropDown #dd [(ngModel)]="selectedIndex" [items]="months"
                    (selectedIndexChanged)="onMonthChange($event)">
                </DropDown>
            </StackLayout>

            <StackLayout *ngIf="selectedMonth" class="report">
                <Label text="You spent Rs.{{getTotal(selectedMonth)}} this month." textWrap="true"></Label>
                <Label *ngIf="user"
                    text="You utilized  {{((getTotal(selectedMonth) / user.allowance) * 100).toFixed(2)}}% of your monthly allowance."
                    textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.foodandgroceries}} on Food and Groceries."
                    textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.transport}} on Travel and Transport." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.bills}} on Bills." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.healthcare}} on Healthcare." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.entertainment}} on Entertainment." textWrap="true"></Label>
                <Label text="You spent Rs.{{selectedMonth.misc}} on Miscellaneous." textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="expenses-chart">
                <Label text="Expenses"></Label>

                <RadPieChart height="130" allowAnimation="true" row="1">
                    <DonutSeries tkPieSeries seriesName="donut" selectionMode="None" expandRadius="0.4"
                        outerRadiusFactor="0.7" innerRadiusFactor="0.8" [items]="pieData" valueProperty="value"
                        legendLabel="key"></DonutSeries>

                    <RadLegendView tkPieLegend position="Right" enableSelection="false"></RadLegendView>

                    <Palette tkPiePalette seriesName="donut">
                        <PaletteEntry tkPiePaletteEntry fillColor="#e3342f" strokeColor="#e3342f"></PaletteEntry>
                        <PaletteEntry tkPiePaletteEntry fillColor="#3490dc" strokeColor="#3490dc"></PaletteEntry>
                        <PaletteEntry tkPiePaletteEntry fillColor="#38c172" strokeColor="#38c172"></PaletteEntry>
                        <PaletteEntry tkPiePaletteEntry fillColor="#f6993f" strokeColor="#f6993f"></PaletteEntry>
                    </Palette>
                </RadPieChart>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</AbsoluteView>

<ng-template #Loading>
    <ns-loading></ns-loading>
</ng-template>
