<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Analytics"></Label>
</ActionBar>

<AbsoluteView>
    <ScrollView class="page">
        <StackLayout class="container" *ngIf="dailydata && monthlydata else Loading">
            <StackLayout class="report">
                <Label text="Overall Statistics" class="categoryvalue" textWrap="true"></Label>
                <Label text="All User's have spent a total of Rs.{{this.allmonthlytotal}}" textWrap="true"></Label>
            </StackLayout>
            <StackLayout class="report">
                <Label text="Breakdown by Category" class="title" textWrap="true"></Label>
                <RadPieChart height="500" width="700" allowAnimation="true" *ngIf="allpiedata">
                    <DonutSeries tkPieSeries selectionMode="None" [items]="allpiedata" valueProperty="value"
                        legendLabel="category" showLabels="true">
                    </DonutSeries>
                    <RadLegendView tkPieLegend position="Top" width="300" showLabels="true"></RadLegendView>
                </RadPieChart>
            </StackLayout>

            <StackLayout class="report">
                <Label text="Expense based on Mode of Transport" class="title" textWrap="true"></Label>
                <RadCartesianChart height="500" width="700" *ngIf="bardata">
                    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                    <BarSeries tkCartesianSeries [items]="bardata" categoryProperty="key" valueProperty="value">
                    </BarSeries>
                </RadCartesianChart>
            </StackLayout>

            <StackLayout class="report">
                <Label text="Bills Expense based on Residential Status" class="title" textWrap="true"></Label>
                <RadCartesianChart height="500" width="700" *ngIf="bardata">
                    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                    <BarSeries tkCartesianSeries [items]="billdata" categoryProperty="key" valueProperty="value">
                    </BarSeries>
                </RadCartesianChart>
            </StackLayout>

            <StackLayout class="report">
                <Label text="Transport Expense based on Residential Status" class="title" textWrap="true"></Label>
                <RadCartesianChart height="500" width="700" *ngIf="bardata">
                    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                    <BarSeries tkCartesianSeries [items]="transportdata" categoryProperty="key" valueProperty="value">
                    </BarSeries>
                </RadCartesianChart>
            </StackLayout>

            <!-- <StackLayout class="report">
                <Label text="{{this.monthlydata[0] | json}}" class="categoryvalue" textWrap="true"></Label>
            </StackLayout> -->
        </StackLayout>
    </ScrollView>
</AbsoluteView>

<ng-template #Loading>
    <ns-loading></ns-loading>
</ng-template>
