Label {
    text-align: center;
    color: #3A53FF;
    font-size: 30dp;
}

ActionBar>Label {
    color: white;
}

.page {
    background-color: #3A53FF;
    height: 100%;
    width: 100%;
}

.mainStack {
    width: 100%;
    padding: 20dp 10dp;
}

.datenav {
    padding: 10dp 0dp;
    border-width: 3dp;
    border-color: white;
    border-radius: 10dp;
    margin-bottom: 15dp;
}

.datenav>StackLayout {
    padding: 0dp;
    margin: 0dp;
}

.datenav>StackLayout>Label {
    color: white;
}

.navicons {
    color: white;
}

.datenav>Button {
    min-height: 70dp;
    margin: 0dp;
    padding: 0dp;
    background-color: #3A53FF;
    font-size: 30dp;
    border-width: 1;
    box-shadow: none;
    border-color: transparent;
}

.entries {
    margin-top: 15dp;
}

.date-day {
    font-size: 30dp;
}

.date-full {
    font-size: 20dp;
}
