<x:StatusBar ios:barStyle="light" barColor="#3A53FF" />
<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()">
    </NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android.position="popup" icon="res://navigation/menu" android:visibility="collapsed"
        (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Daily Tracker"></Label>
</ActionBar>

<AbsoluteView>
    <ScrollView orientation="vertical" class="page">
        <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="top" class="mainStack">
            <DockLayout stretchLastChild="true" class="datenav" *ngIf="currDate">
                <Button text="&#xf053;" class="fa navicons" verticalAlignment="center" dock="left"
                    (tap)="onDateNav('left')"></Button>
                <Button text="&#xf054;" class="fa navicons" verticalAlignment="center" dock="right"
                    (tap)="onDateNav('right')"></Button>
                <StackLayout oritentation="vertical" (tap)="onDateNav('date')" verticalAlignment="center">
                    <Label class="date-day" textWrap="true" verticalAlignment="center"
                        text="{{ dispDate| date:'EEEE' }}"></Label>
                    <Label class="date-full" textWrap="true" verticalAlignment="center"
                        text="{{ dispDate | date }}"></Label>
                </StackLayout>
            </DockLayout>
            <ns-report></ns-report>
            <Label textWrap="true" text="No records for this day!" style="margin-top:25 ;color: white" class="h6"
                *ngIf="entries.length === 0"></Label>
            <StackLayout class="entries" *ngIf="entries">
                <StackLayout *ngFor="let entry of entries">
                    <ns-card [entryData]="entry"></ns-card>
                </StackLayout>
            </StackLayout>
        </StackLayout>

    </ScrollView>
    <FAB (tap)="addEntry()" icon="res://plus" rippleColor="#f1f1f1" class="fab-button"></FAB>

</AbsoluteView>
