<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Daily Tracker"></Label>
</ActionBar>


<ScrollView orientation="vertical" class="page">
    <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="top" class="mainStack">
        <DockLayout stretchLastChild="true" class="datenav" *ngIf="currDate">
            <Label text="&#xf053;" class="fa navicons" verticalAlignment="center" dock="left"></Label>
            <Label text="&#xf054;" class="fa navicons" dock="right" verticalAlignment="center"></Label>
            <StackLayout oritentation="vertical">
                <Label class="date" textWrap="true" verticalAlignment="center"
                    text="{{ currDate| date:'EEEE' }}"></Label>
                <Label class="date" textWrap="true" verticalAlignment="center" text="{{ currDate | date }}"></Label>
            </StackLayout>
        </DockLayout>
        <StackLayout class="entries">
            <ns-report></ns-report>
            <ns-card></ns-card>
            <ns-card></ns-card>
            <ns-card></ns-card>
            <ns-card></ns-card>
            <ns-card></ns-card>
            <ns-card></ns-card>
        </StackLayout>
    </StackLayout>
</ScrollView>
