@import '../../colors.css';

Label {
    text-align: center;
    color: #3A53FF;
    font-size: 30dp;
}

ActionBar>Label {
    color: white;
}

.page {
    background-color: #3A53FF;
    height: 100%;
    width: 100%;
}

.mainStack {
    width: 100%;
    padding: 20dp 15dp;
}

.datenav {
    padding: 10dp;
    border-width: 3dp;
    border-color: white;
    border-radius: 10dp;
    min-height: 120dp;
}

.datenav>StackLayout>Label {
    color: white;
}

.navicons {
    color: white;
    margin-left: 10dp;
    margin-right: 10dp;
}

.entries {
    margin: 20dp 0dp;
}
